@import "tailwindcss";
@import "../css/colors";

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-inter: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-geist-sans: var(--font-geist-sans), system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-geist-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
  color: var(--selection-foreground-color);
  background-color: color-mix(
    in oklab,
    var(--selection-background-color) var(--selection-background-opacity),
    transparent
  );
}

::-moz-selection {
  color: var(--selection-foreground-color);
  background-color: color-mix(
    in oklab,
    var(--selection-background-color) var(--selection-background-opacity),
    transparent
  );
}
